* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  background-image: url(./assets/bg.svg);
  background-position-x: center;
  background-position-y: -715px;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
}

header {
  margin-bottom: 53px;
  text-align: center;
}

#app {
  width: fit-content;
  margin: 52px auto;
}

#card {
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.card {
  background-color: #1a1f1b;

  padding: 32px 23px;
  text-align: center;

  border-bottom: 2px solid #f7dd43;
  border-radius: 6px;
}

.card h2 {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  width: fit-content;
  margin-inline: auto;
  margin-bottom: 53px;

  padding: 8px 16px;
  border: 1px solid #047c3f;
  border-radius: 6px;

  color: #f7dd43;
}

.card h2 span {
  color: #e1e1e6;
  font-size: 14px;
  text-transform: uppercase;
}

.card ul {
  list-style: none;
  width: 270px;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul li + li {
  padding-top: 24px;
  margin-top: 23px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  color: #e1e1e6;

  text-align: center;
}
.card ul li img {
  width: 50px;
  height: 50px;
}

.card h2:hover,
.card ul li strong:hover,
.card ul li img:hover {
  transform: scale(1.1);
}

.card h2,
.card ul li strong,
.card ul li img {
  transition: transform 0.3s;
}

.card {
  opacity: 0;
  animation: appear 0.2s forwards;
}

@keyframes appear {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@media (min-width: 700px) {
  #card {
    max-width: 670px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
